#road{
    background: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;
}
#img{
    margin-top: 390px;
    width: 500px;
}
#btn{
    background-color: blueviolet;
    width: 100px;
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 20px;
}
#dbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}